
<!DOCTYPE HTML>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>글작성</title>
<th:block th:replace="fragments/config :: head" ></th:block>
<th:block th:replace="fragments/config :: configFragment" ></th:block>

</head>
<body>

	<div id="page">

		<!-- Page Header-->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<span><a href="boardList.do">자유게시판</a></span> / <span>글등록</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div style="text-align: center; margin-top: 2em; margin-bottom: 7em;">
			<div class="col-sm-4 text-left total writeForm"
				style="display: inline-block;">
				<form action="/board/insert" method="post">
					<div class="form-group">
						<h5>제목</h5>
						<input type="text" class="form-control gap"
							placeholder="제목을 입력해 주세요." name="board_title">

						<div class="form-group">
							<h5>내용</h5>
							<textarea name="board_content" rows="10" maxlength="1000"
								class="form-control gap" placeholder="내용을 입력해 주세요."></textarea>
						</div>
					</div>
					<input type="submit" value="글 작성하기"
						class="btn btn-primary inputSubmit">
				</form>
			</div>
		</div>

		<!-- Page Footer-->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
	

	<th:block th:replace="fragments/config :: jscript"></th:block>

</body>
</html>