<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http//www.thymeleaf.org/extras/spring-security">

<head>
	<title>자유게시판</title>

	<th:block th:replace="fragments/config :: head"></th:block>
	<th:block th:replace="fragments/config :: configFragment"></th:block>



	<!-- Theme style  -->
	<link rel="stylesheet" th:href="@{~/css/style.css}">
	<link rel="stylesheet" th:href="@{~/css/boardList.css}">

</head>

<body>

	<div id="page">

		<!-- Page Header-->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<span><a th:href="@{/}">Home</a></span> / <span>자유게시판</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<h1 id="menuTitle">자유게시판</h1>

		<!-- boardList -->
		<div class="boardListFirstDiv">
			<div class="container" >
				<div class="nav">
					<div class="sortBar">
						<span>정렬 :</span>
						<a  href="#">
							<span>최신순</span>
						</a>
						<span>|</span>
						<a href="#">
							<span>댓글순</span>
						</a>
						<!-- <span style="color: #5959597a;">&nbsp;&nbsp;[<!-- ${totalCnt}개의 글 ]</span>-->
					</div>
					<div class="searchBar">
						<form method="post" action="">
							<input type="text" name="keyword" class="searchKeyword">
							<input type="submit" value="검색" class="btn btn-primary inputSubmit searchButton">
						</form>
					</div>
				</div>
				<div>
					<table class="board table" style="margin-bottom: 0px;">
						<tbody>
							<tr class="boardHead">
								<td style="width: 7em;">번호</td>
								<td style="width: 28em;">제목</td>
								<td style="width: 7em;">작성자</td>
								<td style="width: 7em;">날짜</td>
							</tr>
						</tbody>
						<tr th:if="${boardFormDto == null}">
							<td colspan="4">
								<h3>등록된 글이 없습니다!</h3>
							</td>
						</tr>
						</tbody>
						<tbody th:if="${boardFormDto != null}" class="boardTbottom">
							<tr th:each="board : ${boardFormDto}">
								<td th:text="${board.id}"></td>
								<td class="boardTitle">
									<a th:href="@{/board/content/{boardId}(boardId=${board.id})}"
										style="color: #978d67;" th:text="${board.title}">

									</a>
									&nbsp;
									<span style="color: #978d678c;">[<b style="color: #978d678c;"
											th:text="${board .commentCount}">[테스트]</b>]</span>
								</td>

								<td th:text="${board.writer}">이름</td>

								<td th:text="${board.RegTime}">날짜</td>

							</tr>

						</tbody>



					</table>
				</div>

				<div class="Pagination">
					<div class="col-md-12 text-center">
						<div class="block-27">
							<ul>
								<li>
									<a th:href="@{/board/list?page={page}(page=${pageDto.prePage})}">
									<i class="ion-ios-arrow-back"></i></a>
								</li>
								<th:block th:with="start=${pageDto.startPage}, end=${pageDto.endPage}">
									<li th:with="start=${pageDto.startPage}, end=${pageDto.endPage}"
										th:each="pageindex : ${#numbers.sequence(start, end)}">
										<a th:href="@{/board/list?page={page}(page=${pageindex})}"
											th:text="${pageindex}"></a>
									</li>

									<li>
										<a th:href="@{/board/list?page={page}(page=${pageDto.nextPage})}">
											<i class="ion-ios-arrow-forward"></i></a>
									</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="removeBorderTop" style="padding: 21px 0 0 0;">
					<a th:href="@{/board/writing}" class="btn btn-primary inputSubmit apply board"
						sec:authorize="isAuthenticated()">글 작성하기</a>

					<a th:href="@{/member/login}" sec:authorize="isAnonymous()"
						class="btn btn-primary inputSubmit apply board">글 작성하기</a>
				</div>
			</div>
		</div>

		<!-- Page Footer-->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<script th:src="@{~/js/loginCheck.js}"></script>
	<th:block th:replace="fragments/config :: jscript"></th:block>

</body>

</html>