<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>상세글</title>

	<th:block th:replace="fragments/config :: head"></th:block>
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	<script type="text/javascript">
		function del() {
			ans = confirm("정말 삭제하시겠습니까?");
			if (ans == true) {
				document.withdrawal.submit();
			} else {
				event.preventDefault();
			}
		}
	</script>
</head>

<body>

	<div id="page">

		<!-- Page Header-->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<span><a th:href="@{/board/list}">자유게시판</a></span> / <span>상세글</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div style="text-align: center; margin-top: 2em; margin-bottom: 7em;">
			<div class="col-sm-4 text-left total writeForm" style="display: inline-block;">
				<div class="form-group">

					<div class="form-group boardOne">
						<h5 class="h5-detail title" style="width: 100%;">제목</h5>
					</div>

					<div class="title-box">
						<h5 style="padding: 14px;" th:text="${boardFormDto.title}">${boardOne.board.board_title}</h5>
					</div>
					<div class="form-group">
						<h5>내용</h5>
						<textarea name="board_content" id="autoHeight" th:text="${boardFormDto.content}"
							class="form-control gap one" disabled>${boardOne.board.board_content}</textarea>
					</div>


					<script type="text/javascript">
						function adjustHeight() {
							var textEle = $('#autoHeight');
							var textEleHeight = textEle.prop('scrollHeight');
							console.log(textEleHeight);
							textEle.css("height", textEleHeight);
						};
						adjustHeight();
					</script>

					<!-- 본인 글에만 노출 -->

					<div style="float: right;" th:if="userAuth == boardFormDto.writerId">
						<a th:href="@{/board/update(id=${boardFormDto.id})}" class="btn btn-primary boardUD">수정하기</a> <a
							th:href="@{/board/delete(id=${boardFormDto.id})}" class="btn btn-primary boardUD"
							onclick="del()">삭제하기
						</a>
					</div>

				</div>
			</div>


			<!-- 댓글 -->
			<hr>
			<div class="col-sm-4 text-left total writeForm" style="display: inline-block;">
				<h3 class="head">${boardOne.board.board_commentCnt}&nbsp;Reviews</h3>

				<div class="review">
					<div class="desc">
						<p class="p-comment" style="font-size: 18px;">${v.comment_content}</p>
						<span class="text-right"
							style="color: #5959596b;">${v.supporter_id}&nbsp;|&nbsp;${v.comment_date}
							<a href="commentDelete.do?comment_number=${v.comment_number}&board_number=${boardOne.board.board_number}"
								class="commentDel">&nbsp;&nbsp;&nbsp;삭제
							</a>

						</span>
					</div>
				</div>

				<div>
					<form action="/" method="post">
						<div sec:authorize="isAnonymous()">
							<textarea name="comment_content" cols="10" rows="3"
								class="form-control gap comment comment "
								style="width:100%; margin:0px; padding:0px; border-radius: 0px  "
								placeholder="댓글을 작성하려면 로그인 해주세요"></textarea>
							<input type="submit" value="댓글등록"
								style="margin-right:0px;margin-top : 10px; border-radius: 0px"
								class="btn btn-primary inputSubmit comment">
						</div>
						<div sec:authorize="isAuthenticated()">
							<textarea name="comment_content" cols="10" rows="3"
								style="width:100%; margin:0px; padding:0px; border-radius: 0px  "
								class="form-control gap comment comment" placeholder="댓글을 남겨보세요."></textarea>
							<input type="submit" value="댓글등록"
								style=" margin-right:0px;margin-top : 10px; border-radius: 0px"
								class="btn btn-primary inputSubmit comment">
						</div>
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>
				</div>

			</div>
			</c:if>
		</div>
	</div>

	<!-- Page Footer-->
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<th:block th:replace="fragments/config :: jscript"></th:block>

</body>

</html>