<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>상세글</title>

<th:block th:replace="fragments/config :: head" ></th:block>
<th:block th:replace="fragments/config :: configFragment" ></th:block>
<script type="text/javascript">
	function del() {
		ans = confirm("정말 삭제하시겠습니까?");
		if (ans == true) {
			document.withdrawal.submit();
		} else {
			event.preventDefault();
		}
	}
</script>
</head>
<body>

	<div id="page">

		<!-- Page Header-->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>
		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<span><a th:href="@{/board/list}">자유게시판</a></span> / <span>상세글</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div style="text-align: center; margin-top: 2em; margin-bottom: 7em;">
			<div class="col-sm-4 text-left total writeForm"
				style="display: inline-block;">
				<div class="form-group">

					<div class="form-group boardOne">
						<h5 class="h5-detail title" style="width: 100%;">제목</h5>
						<c:if test="${boardOne.board.supporter_id!='admin'}">
							<h5 class="h5-detail title info">${boardOne.board.supporter_id}
								| ${boardOne.board.board_date}</h5>
						</c:if>
					</div>

					<div class="title-box">
						<h5 style="padding: 14px;">${boardOne.board.board_title}</h5>
					</div>
					<div class="form-group">
						<h5>내용</h5>
						<textarea name="board_content" id="autoHeight"
							class="form-control gap one" disabled>${boardOne.board.board_content}</textarea>
					</div>
					<script type="text/javascript">
						function adjustHeight() {
							var textEle = $('#autoHeight');
							var textEleHeight = textEle.prop('scrollHeight');
							console.log(textEleHeight);
							textEle.css("height", textEleHeight);
						};
						adjustHeight();
					</script>
					<!-- 본인 글에만 노출 -->
					<c:if test="${boardOne.board.supporter_id==supporter_id}">
						<div style="float: right;">
							<a
								href="boardUpdatePage.do?board_number=${boardOne.board.board_number}"
								class="btn btn-primary boardUD">수정하기</a> <a
								href="boardDelete.do?board_number=${boardOne.board.board_number}"
								class="btn btn-primary boardUD" onclick="del()">삭제하기</a>
						</div>
					</c:if>

				</div>
			</div>

			<c:if test="${boardOne.board.supporter_id!='admin'}">
				<!-- 댓글 -->
				<hr>
				<div class="col-sm-4 text-left total writeForm"
					style="display: inline-block;">
					<h3 class="head">${boardOne.board.board_commentCnt}&nbsp;Reviews</h3>

					<c:forEach var="v" items="${boardOne.comments}">
						<div class="review">
							<div class="desc">
								<p class="p-comment" style="font-size: 18px;">${v.comment_content}</p>
								<span class="text-right" style="color: #5959596b;">${v.supporter_id}&nbsp;|&nbsp;${v.comment_date}
									<!-- 본인 댓글에만 노출 --> <c:if
										test="${v.supporter_id==supporter_id}">
										<a
											href="commentDelete.do?comment_number=${v.comment_number}&board_number=${boardOne.board.board_number}"
											class="commentDel">&nbsp;&nbsp;&nbsp;삭제</a>
									</c:if>
								</span>
							</div>
						</div>
					</c:forEach>

					<form action="commentInsert.do" method="post"
						style="display: flex;">
						<input type="hidden" name="board_number"
							value="${boardOne.board.board_number}">

						<!-- 로그인 시에만 댓글 작성 가능 -->
						<c:choose>
							<c:when test="${supporter_id==null}">
								<textarea name="comment_content" cols="10" rows="3"
									class="form-control gap comment comment"
									placeholder="댓글을 작성하려면 로그인 해주세요" disabled></textarea>
								<input type="submit" value="댓글등록"
									class="btn btn-primary inputSubmit comment" disabled>
							</c:when>
							<c:otherwise>
								<textarea name="comment_content" cols="10" rows="3"
									class="form-control gap comment comment"
									placeholder="댓글을 남겨보세요."></textarea>
								<input type="submit" value="댓글등록"
									class="btn btn-primary inputSubmit comment">
							</c:otherwise>
						</c:choose>

					</form>
				</div>
			</c:if>
		</div>
	</div>

	<!-- Page Footer-->
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>


	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<th:block th:replace="fragments/config :: jscript"></th:block>

</body>
</html>
