<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>마이페이지</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<th:block th:replace="fragments/config :: head" ></th:block>
<th:block th:replace="fragments/config :: configFragment" ></th:block>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link
	href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Jua&display=swap"
	rel="stylesheet">


<!-- contect boardList.css -->
<link rel="stylesheet" th:href="@{~/css/boardList.css}">

<!-- contect signup.css -->
<link rel="stylesheet" th:href="@{~/css/signup_mypage.css}">

<!-- contact deleteAccount.css -->
<link rel="stylesheet" th:href="@{~/css/deleteAccount.css}">
<link rel="stylesheet" th:href="@{~/css/supportRequest.css}">
<link rel="stylesheet" th:href="@{~/css/support.css}">
<th:block layout:fragment="css">
		<style>
			/* 회원가입 태그 정렬  
   				 추가 - 2022-08-26 
			*/

			.Error {

				color: red;
			}
			
		</style>
	</th:block>
	
</head>

<body>
	<div id="page">

		<!-- Page Header-->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<span><a th:href="@{/}">HOME</a></span> / <span>my page</span>
						</p>
					</div>
					<div class="col">
						<ul class="nav nav-pills mb-3">

							<li class="nav-item"><a class="nav-link active show"
								id="pills-description-tab" data-toggle="pill"
								href="#pills-description" role="tab"
								aria-controls="pills-description" aria-expanded="true"
								aria-selected="true">정보수정</a></li>
							<li class="nav-item"><a class="nav-link"
								id="pills-manufacturer-tab" data-toggle="pill"
								href="#pills-manufacturer" role="tab"
								aria-controls="pills-manufacturer" aria-expanded="true"
								aria-selected="false">내역조회</a></li>
							<li class="nav-item"><a class="nav-link"
								id="pills-review-tab" data-toggle="pill" href="#pills-review"
								role="tab" aria-controls="pills-review" aria-expanded="true"
								aria-selected="false">회원탈퇴</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<h1 id="menuTitle">My Page</h1>


		<div class="twin container">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-md-12 pills">
						<div class="bd-example bd-example-tabs">
							<div class="tab-content" id="pills-tabContent">

								<div class="tab-pane border fade active show"
									id="pills-description" role="tabpanel"
									aria-labelledby="pills-description-tab">
									<th:block th:replace="fragments/updateMember :: updateMember"></th:block>
								</div>

								<div class="tab-pane border fade" id="pills-manufacturer"
									role="tabpanel" aria-labelledby="pills-manufacturer-tab"
									style="padding: 32px 0 4em 0;">
									<th:block th:replace="fragments/activityHistoryMember :: history"></th:block>
								</div>

								<div class="tab-pane border fade" id="pills-review"
									role="tabpanel" aria-labelledby="pills-review-tab">
									
									<th:block th:replace="fragments/withdrawalMember :: withdrawal"></th:block>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Page Footer-->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<script src="/js/loginCheck.js"></script>
	
	<th:block th:replace="fragments/config :: jscript"></th:block>
</body>
</html>