<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>봉사신청</title>
	<th:block th:replace="fragments/config :: head"></th:block>
	<th:block th:replace="fragments/config :: configFragment"></th:block>
	<script>
		window.name = "main"
		function openPopup(url) {
			window.open(url, '봉사신청', 'width=400, height=300, left=745, top=200');
		}
	</script>
</head>

<body>
	<div id="page">

		<!-- Page Header-->
		<th:block th:replace="fragments/header :: headerFragment"></th:block>

		<div class="breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="bread">
							<span><a ht:href="@{/}">HOME</a></span> / <span>봉사신청</span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<h1 id="menuTitle">봉사신청</h1>

		<section>
			<div class="boardListFirstDiv">
				<div style="display: inline-block;">
					<table class="calendar">
						<tr>
							<td>
								<!-- 저번달로 이동 -->
								<c:choose>
									<c:when
										test="${volCal.beforeYear le volCal.currentYear and volCal.beforeMonth lt volCal.currentMonth}">
										<!-- 저번달이 과거일때 -->
										<button type="button" class="volFull" disabled>
											<i class="ion-ios-arrow-back"></i>&nbsp;${volCal.beforeMonth}월
										</button>
									</c:when>
									<c:otherwise>
										<button type="button"
											onclick="location='volunteerList.vt?year=${volCal.beforeYear}&month=${volCal.beforeMonth}'">
											<i class="ion-ios-arrow-back"></i>&nbsp;${volCal.beforeMonth}월
										</button>
									</c:otherwise>
								</c:choose>
							</td>

							<td colspan="5">
								<h4 style="margin: 0">${volCal.year}년${volCal.month}월</h4>
							</td>

							<td>
								<!-- 다음달로 이동 -->
								<c:choose>
									<c:when test="${volCal.afterMonth ge volCal.currentMonth+3}">
										<!-- 다음달이 지금으로부터 +4개월 이상일때 -->
										<button type="button" class="volFull" disabled>
											${volCal.afterMonth}월&nbsp;<i class="ion-ios-arrow-forward"></i>
										</button>
									</c:when>
									<c:otherwise>
										<button type="button"
											onclick="location='volunteerList.vt?year=${volCal.afterYear}&month=${volCal.afterMonth}'">
											${volCal.afterMonth}월&nbsp;<i class="ion-ios-arrow-forward"></i>
										</button>
									</c:otherwise>
								</c:choose>
							</td>
						</tr>

						<tr class="calendarDay">
							<td>일</td>
							<td>월</td>
							<td>화</td>
							<td>수</td>
							<td>목</td>
							<td>금</td>
							<td>토</td>
						</tr>

						<tr>
							<c:set var="cnt" value="0" />

							<!-- 1일 요일 위치 맞추기 -->
							<c:forEach var="i" begin="2" end="${volCal.dayOfweek}">
								<td></td>
								<c:set var="cnt" value="${cnt+1}" />
							</c:forEach>

							<!-- 날짜 채우기 -->
							<c:forEach var="v" items="${volCnts}">
								<c:set var="cnt" value="${cnt+1}" />

								<!-- 주말 색 지정 -->
								<c:choose>
									<c:when test="${cnt % 7 == 1}">
										<c:set var="color" value="#b74a55" />
									</c:when>
									<c:when test="${cnt % 7 == 0}">
										<c:set var="color" value="#4a67b7" />
									</c:when>
									<c:otherwise>
										<c:set var="color" value="#595959" />
									</c:otherwise>
								</c:choose>

								<c:choose>
									<c:when
										test="${volCal.month eq volCal.currentMonth and v.date le volCal.currentDate}">
										<!-- 봉사 신청 가능 여부 확인 -->
										<td class="calendarDate"><button class="volFull" disabled>${v.date}</button>
										</td>
									</c:when>
									<c:when test="${v.isfull}">
										<!-- 봉사 신청 가능 여부 확인 -->
										<td class="calendarDate"><button class="volFull" disabled>마감</button></td>
									</c:when>
									<c:otherwise>
										<td class="calendarDate">
											<c:choose>
												<c:when test="${supporter_id == null}">
													<button onclick="loginCheck()"
														style="color: ${color}">${v.date}</button>
												</c:when>
												<c:otherwise>
													<button
														onclick="openPopup('volunteerRequest.vt?yyyyMMdd=${v.yyyyMMdd}&cntAM=${v.cntAM}&cntPM=${v.cntPM}')"
														style="color: ${color}">${v.date}</button>
												</c:otherwise>
											</c:choose>
										</td>
									</c:otherwise>
								</c:choose>

								<!-- 토요일에서 줄 바꿈 -->
								<c:if test="${cnt % 7 == 0}">
									<%="< /tr>
						<tr>"%>
							<c:set var="cnt" value="0" />
							</c:if>
							</c:forEach>

							<!-- 남은 칸 채우기 -->
							<c:forEach var="i" begin="1" end="${7-cnt}">
								<td></td>
							</c:forEach>
						</tr>
					</table>
				</div>
			</div>
		</section>

		<!-- Page Footer-->
		<th:block th:replace="fragments/footer :: footerFragment"></th:block>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>

	<th:block th:replace="fragments/config :: jscript"></th:block>

</body>

</html>