@charset "UTF-8";

.select-animals-container{
	border-radius: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color:#cdc9bb2e;
	justify-content: center; 
	align-items: center;
	width: 70%;
	left: 30px;
	margin: 3% 0 2% 15%;
	padding: 20px;
}


.btn.btn-sm.btn-block.btn-primary.btn-search-animals{
	border-radius: 4px;
	margin-top:5%;
	position: absolube;
	justify-content: center; 
	align-items: center;
}

.g-pb-15.g-pb-sm-0.search-refresh {
    margin-top: 14px;
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 32px;
}

/*.form-control.custom-select.material-icons{
	    z-index: 9;
}*/

.row.animals-photos{
	width:70%;
	margin: 3% 0 2% 15%;
}


.product-entry.border{
    border-radius:15px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.1);

}

.prod-img{
	  position: relative;
    padding-top: 100%;  /* 1:1 ratio */
    overflow: hidden;
}

.img-fluid.animals{
position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
       border-radius:15px 15px 0 0;

}

.prod-img:hover{
	background-color:transaticn;
	}

.pagenation{
	margin-bottom:2.5%;
}



/* /////////////////////////////////////////////////////// */


a.btn.btn-sm.btn-block.g-brd-0.text-secondary.g-font-size-14.g-px-0.mb-1.reset {
    padding: 0;
}

.col-lg-2.g-pt-30.g-pt-60--lg.search {
    padding: 0;
    padding-top: 3.35rem !important;
}