@charset "UTF-8";



.tab-content{
	background-color: right-yellow;
	margin: auto 0;
}

/*게시글 제목+상세내용 컨테이너*/
.form-group{
	margin: 20px 0px;
}

/*게시글 상세내용 컨테이너*/
.form-control.gap.textarea{
	margin: 0px 0px 50px 0px;
}

/*제목출력창*/
.title-box{
	margin: auto 0;
	height: 60px;
}

/*내용출력창*/
.comment-box{
	margin: auto 0;
	height: 300px;
}

.title-box,
.comment-box{
	background-color:#cbbd8930;
	width: 100%;
	border-radius:8px;
}


/*리뷰수 컨테이너*/
.head{
	margin-bottom: 50px;
}

/*댓글 컨테이너*/
.desc{
	margin-bottom: 30px;
}

/*댓글내용*/
.p-comment{
	margin: 0px 8px 0px 0px;
}

/*h5*/
.h5-detail.title{
	margin: 10px 0px 10px 0;
}

.h5-detail.comment{
	margin: 30px 0 10px 0;
}
