@charset "UTF-8";

.twins-wrap {
    width: 100%;
    text-align: center;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

.sub-title {
    text-align: center;
    margin: 0 0 40px 0;
}

.subscript {
    color: #978d67;
}

.btn.btn-primary.support {
    margin: 79px 0px;
    display: inline-block;
    width: 200px;
    background: #cbbd89;
    border-radius: 9px;
}
/*
btn.btn-primary {
    margin: 79px 0px;
    display: inline-block;
    width: 200px;
    background: #cbbd89;
    border-radius: 9px;
}*/

/*이름 변경 2022.11.09 추가*/
.btn.btn-primary.add {
	padding-top: 3px;
	padding-bottom: 3px
}
   


	